# heroscale is a script which cd's into the bot directory and runs a yarn command

# At 9 AM on the 18th of the month, run heroscale back
0 9 18 * * bash "heroscale mouse1"

# At 9 AM on the 1st of the month, run heroscale main
0 9 1 * * bash "heroscale mouse2"
